.neon {
    transform: translateZ(0px);
    filter: drop-shadow(rgba(24, 40, 83, 0.95) 0px 0px 1.98375px) drop-shadow(rgba(47, 56, 83, 0.75) 0px 0px 9.91875px) drop-shadow(rgba(47, 56, 83, 0.44) 0px 0px 29.7563px);
    color: rgb(162,171,196);
}